.cd{
  border: 0;
  position: relative;
  z-index: 50;
  border-radius: 35px;
  width: 280px;
  height: 600px;
  display: block;
}

/*---------  Helpers --------*/

.cd-center{
  margin: auto;
}

.cd-image{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

/*---------  iPhone 5s --------*/

.cd-5s-gold{
  background-color: #fafafa;
  border: 4px solid #ecdcc8;
}

.cd-5s-gold > .cd-ear, .cd-5s-gold > .cd-cam{
  background: #ecdcc8;
}

.cd-5s-gold > .cd-home{
  border: 3px solid #ecdcc8;
}

.cd-5s-silver{
  background-color: #fafafa;
  border: 4px solid #bdbfbe;
}

.cd-5s-silver > .cd-ear, .cd-5s-silver > .cd-cam{
  background: #bdbfbe;
}

.cd-5s-silver > .cd-home{
  border: 3px solid #bdbfbe;
}

.cd-5s-black{
  background-color: #151515;
  border: 4px solid #777679;
}

.cd-5s-black > .cd-ear, .cd-5s-black > .cd-cam{
  background: #242424;
}

.cd-5s-black > .cd-home{
  border: 3px solid #3F3F3F;
}

/*---------  iPhone 5c --------*/

.cd-5c-blue{
  background-color: #151515;
  border: 4px solid #7ec4fc;
}

.cd-5c-green{
  background-color: #151515;
  border: 4px solid #b3f390;
}

.cd-5c-red{
  background-color: #151515;
  border: 4px solid #fc828d;
}

.cd-5c-yellow{
  background-color: #151515;
  border: 4px solid #fff38a;
}

.cd-5c-white{
  background-color: #151515;
  border: 4px solid #efefee;
}

.cd-5c-blue > .cd-home, .cd-5c-blue > .cd-ear, .cd-5c-blue > .cd-cam,
.cd-5c-green > .cd-home, .cd-5c-green > .cd-ear, .cd-5c-green > .cd-cam,
.cd-5c-red > .cd-home, .cd-5c-red > .cd-ear, .cd-5c-red > .cd-cam,
.cd-5c-yellow > .cd-home, .cd-5c-yellow > .cd-ear, .cd-5c-yellow > .cd-cam,
.cd-5c-white > .cd-home, .cd-5c-white > .cd-ear, .cd-5c-white > .cd-cam{
  background: #242424;
}

.cd > .cd-home, .cd > .cd-ear, .cd > .cd-cam, .cd .cd-screen{
  position: absolute;
  left: 50%;
  overflow: hidden;
}

.cd > .cd-cam{
  top: 20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: -6px;
}

.cd > .cd-ear{
  top: 45px;
  width: 55px;
  height: 10px;
  border-radius: 5px;
  margin-left: -27.5px;
}

.cd > .cd-home{
  bottom: 13px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -25px;
}

.cd > .cd-screen{
  background: black;
  width: 250px;
  margin-left: -125px;
  height: 440px;
  top: 75px;
}

.cd-lg{
  width: calc(280px * 1.3);
  height: calc(600px * 1.3);
  border-radius: calc(35px * 1.3);
  border-width: calc(4px * 1.3);
}

.cd-lg > .cd-cam{
  top: calc(20px * 1.3);
  width: calc(12px * 1.3);
  height: calc(12px * 1.3);
  margin-left: calc(-6px * 1.3);
}

.cd-lg > .cd-ear{
  top: calc(45px * 1.3);
  width: calc(55px * 1.3);
  height: calc(10px * 1.3);
  border-radius: calc(5px * 1.3);
  margin-left: calc(-27.5px * 1.3);
}

.cd-lg > .cd-home{
  bottom: calc(13px * 1.3);
  width: calc(50px * 1.3);
  height: calc(50px * 1.3);
  margin-left: calc(-25px * 1.3);
}

.cd-lg > .cd-screen{
  width: calc(250px * 1.3);
  margin-left: calc(-125px * 1.3);
  height: calc(440px * 1.3);
  top: calc(75px * 1.3);
}

.cd-sm{
  width: calc(280px * .7);
  height: calc(600px * .7);
  border-radius: calc(35px * .7);
  border-width: calc(4px * .7);
}

.cd-sm > .cd-cam{
  top: calc(20px * .7);
  width: calc(12px * .7);
  height: calc(12px * .7);
  margin-left: calc(-6px * .7);
}

.cd-sm > .cd-ear{
  top: calc(45px * .7);
  width: calc(55px * .7);
  height: calc(10px * .7);
  border-radius: calc(5px * .7);
  margin-left: calc(-27.5px * .7);
}

.cd-sm > .cd-home{
  bottom: calc(13px * .7);
  width: calc(50px * .7);
  height: calc(50px * .7);
  margin-left: calc(-25px * .7);
}

.cd-sm > .cd-screen{
  width: calc(250px * .7);
  margin-left: calc(-125px * .7);
  height: calc(440px * .7);
  top: calc(75px * .7);
}

.cd-xs{
  width: calc(280px * .5);
  height: calc(600px * .5);
  border-radius: calc(35px * .5);
  border-width: calc(4px * .5);
}

.cd-xs > .cd-cam{
  top: calc(20px * .5);
  width: calc(12px * .5);
  height: calc(12px * .5);
  margin-left: calc(-6px * .5);
}

.cd-xs > .cd-ear{
  top: calc(45px * .5);
  width: calc(55px * .5);
  height: calc(10px * .5);
  border-radius: calc(5px * .5);
  margin-left: calc(-27.5px * .5);
}

.cd-xs > .cd-home{
  bottom: calc(13px * .5);
  width: calc(50px * .5);
  height: calc(50px * .5);
  margin-left: calc(-25px * .5);
}

.cd-xs > .cd-screen{
  width: calc(250px * .5);
  margin-left: calc(-125px * .5);
  height: calc(440px * .5);
  top: calc(75px * .5);
}

.cd-5s-gold > .cd-home,
.cd-5s-silver > .cd-home,
.cd-5s-black > .cd-home{
  bottom: 12px;
}

.cd-5s-gold.cd-lg > .cd-home,
.cd-5s-silver.cd-lg > .cd-home,
.cd-5s-black.cd-lg > .cd-home{
  bottom: calc(12px * 1.3);
  border-width: calc(3px * 1.3);
}

.cd-5s-gold.cd-sm > .cd-home,
.cd-5s-silver.cd-sm > .cd-home,
.cd-5s-black.cd-sm > .cd-home{
  bottom: calc(12px * .7);
  border-width: calc(3px * .7);
}

.cd-5s-gold.cd-xs > .cd-home,
.cd-5s-silver.cd-xs > .cd-home,
.cd-5s-black.cd-xs > .cd-home{
  bottom: calc(12px * .7);
  border-width: calc(3px * .5);
}
