<link rel="stylesheet" type="text/css" href="devices.min.css">

<div class="cd cd-5s-silver">
  <div class="cd-cam"></div>
  <div class="cd-ear"></div>
  <div class="cd-home"></div>
  <div class="cd-screen"></div>
</div>
